.page {
    display: flex;
    flex-flow: row nowrap;

    width: 665px;
    min-height: 100vh;
    margin: 0 auto;

    .page-context {
        width: 100%;
        padding: 19px 62px 19px 31px;
    }
}
